<!-- ========== HEADER ========== -->
<header id="header" class="site-header navbar-expand-lg" role="banner">
  <div class="site-header__inner container">
    <a class="site-header__brand" href="{{ '/' | relative_url }}" aria-label="{{ site.full_title }} home">
      <span class="site-header__brand-name">{{ site.full_title }}</span>
    </a>

    <button
      type="button"
      class="site-header__toggle navbar-toggler"
      aria-label="Toggle navigation"
      aria-expanded="false"
      aria-controls="navBar"
      data-toggle="collapse"
      data-target="#navBar"
    >
      <span class="site-header__toggle-icon site-header__toggle-icon--open" aria-hidden="true">
        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
        </svg>
      </span>
      <span class="site-header__toggle-icon site-header__toggle-icon--close" aria-hidden="true">
        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
        </svg>
      </span>
    </button>

    <nav id="navBar" class="site-header__nav collapse navbar-collapse" aria-label="Main">
      <ul class="site-header__menu navbar-nav">
        {% for item in site.data.menus.header %}
          {% assign item_url = item.url | relative_url %}
          {% assign is_active = false %}
          {% if page.url contains item.url %}
            {% assign is_active = true %}
          {% endif %}
          <li class="site-header__item nav-item{% if is_active %} is-active{% endif %}">
            <a
              class="site-header__link nav-link{% if is_active %} is-active{% endif %}"
              href="{{ item_url }}"
              {% if is_active %}aria-current="page"{% endif %}
            >{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<!-- ========== END HEADER ========== -->
